* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 120px;
}

h1 {
    float:right;
    font-family: 'Caveat';
    font-size: 40px;
    color: black;
}

li {
    font-family: 'Poppins';
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}



.logo  li{
    display: inline-block;
    list-style: none;
}   


.info {
    list-style: none;
}

.info li {
    display: inline-block;
    padding: 15px 20px;
}

.infoseiten {
    color: black;
}

.button {
    background-color:#2CCE2E;
    border: solid;
    border-color: #2CCE2E;
    border-radius: 8px;
    color: white;
}

.button:hover {
    background-color: white;
    border: solid;
    border-color: #2CCE2E;
    color: #2CCE2E;
}

input {
    padding: 15px;
    padding-right: 150px;
    border-radius: 8px;
}

main{
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    
    
}

.kategorieButton{
    border-radius: 8px;
    color: black;
    padding: 15px 20px;
    font-size: 17px;
    font-family: 'Poppins';
    background-color: white;
    border-color: black;
}



.dropdown-content li{
    list-style: none;
    padding: 12px 16px;
    border-radius: 8px;
}

.dropdown-content li a{
    text-decoration: none;
    color: black;
}

.dropdown:hover .kategorieButton{
    background-color: #E4E7EB;
    color: black;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    background-color:  #F2E0D4;
    border-radius: 8px;

}

.dropdown-content li:hover{
    background-color: #2CCE2E;
}

.dropdown-content li a:hover{
    color: white;
}

.kategorieButton img{
    width: 20px;
    margin-right: 10px;
}

.slideshow-container{
    margin-right: 400px;
    border-radius: 8px;
    background-color: #ECD2C2;
    padding: 20px;
    padding-bottom: 150px;

}

.slideBild{
    width: 100%;
    border-radius: 8px;
}




