/* Reset Code */
/* Setzt die Voreinstellung der Seitenabstände auf 0 */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    width: 80%;
    height: auto;
    margin: 30px auto;
}

/* order - positioniert die Reihenfolge der Content-Bereiche */
.logo-img{
    order: 1;
    width: 85px;
    list-style: none;
}

h1{
    float: right;
    line-height: 85px;
    font-family: 'Caveat';
    text-transform: uppercase;
    color: #000000;
}

/* Mitte - Search input */
.searchbar{
    order: 2;
}

.searching{
    padding: 1rem;
    padding-right: 10rem;
    width: 100%;
    border-radius: 8px;
    text-align: left;
    outline: none;
}

/* Navbar */
nav{
    order: 3;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
    padding: 0rem;
}

nav ul li a{
    display: block;
    text-align: center;
    font-family: 'Poppins';
    text-decoration: none;
    color: #000000;
    padding: 0.75rem 1rem;
}

nav ul li a:hover{
    text-decoration: underline;
}

.add-button{
    background-color: #2CCE2E;
    border: 1.5px solid #2CCE2E;
    color: #ffffff;
    border-radius: 8px;
    text-decoration: none !important; /* !important setzt die höchste Priorität - überbietet CSS Attribute */
}

nav ul li .add-button:hover{
    background-color: white;
    color: #2CCE2E;
}

/* Main */
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    width: 80%;
    height: auto;
    margin: 30px auto;
}

.dropdown{
   position: absolute;
   top: 17%;
   font-family: 'Poppins';
}

.dropdown-content li {
    list-style: none;
    padding: 12px 16px;
    border-radius: 8px;
}

.dropdown-content li a {
    text-decoration: none;
    color: black;
}

.dropdown:hover .kategorieButton {
    background-color: #E4E7EB;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    background-color: #F2E0D4;
    border-radius: 8px;
    font-size: 14px;
}

.dropdown-content li:hover {
    background-color: #2CCE2E;
    color: white;
}

.dropdown-content a{
    text-decoration: none;
    color: #000;
}


.kategorieButton{
    padding: 12px 35px;
    background-color: transparent;
    border: none;
    border: 1.5px solid #000;
    font-family: 'Poppins';
    font-size: 16px;
    border-radius: 8px;
    outline: none;
}

.kategorieButton img {
    width: 20px;
    margin-right: 10px;
}

/* Slideshow - Container */
.slideshow-container{
    border-radius: 8px;
    background-color: #ECD2C2;
    margin: auto;
    font-family: 'Poppins';
    width: 45%;
}

.mySlidesfade{
    width: 100%;
    padding: 12px 20px;
}

.mySlidesfade img{
    border-radius: 8px;
}

.prev, .next{
    font-weight: bold;
    font-size: 50px;
    background-color: #E4E7EB;
    margin: 20px;
    padding: 0px 10px;
    border-radius: 8px;
}

.prev:hover, .next:hover{
    background-color: #CDCED0 ; 
    cursor: pointer;
}

.PrevNext{
    display: flex;
    justify-content: space-between;
    border-color: black;
    width: 100%;
}

.klassiker-container{
    padding: 20px;
    width: 100%;
    background-color: #E4E7EB;
    margin-top: 50px;
    border-radius: 8px;
    
}

.klassiker-bilder{
    display: inline-flex;
    justify-content: space-between;
    margin: 30px;
    border-radius: 8px;

}

.bild {
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    margin-right: 30px;
    background-color:#ECD2C2;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
}

.bild-text{
    font-family: 'Poppins';
}


.text{
    padding: 12px 20px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px 10%;
    font-family: 'Poppins';
    border-top: solid;
    border-color: #E4E7EB;
}

footer a {
    padding: 12px 20px;
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a img {
    width: 40px;
}

.Überuns-teil {
    justify-content: center;
}

.Überuns-container {
    width: 700px;
    height: 700px;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #ECD2C2;
    font-family: 'Poppins';
}

.Überuns {
    border-top: solid;
    padding: 12px 0px;
    margin-top: 10px;
}

.Datenschutz-container {
    width: 700px;
    font-family: 'Poppins';
}

.Datenschutz {
    padding: 12px 0px;
    margin-top: 10px;
    border-top: solid;
}

.Datenschutz-teil {
    justify-content: center;
}

.Impressum {
    border-top: solid;
    padding: 12px 0px;
    margin-top: 10px;
}

.Impressum-container {
    width: 700px;
    font-family: 'Poppins';
}

.Impressum-teil {
    justify-content: center;
}

.formular-container{
    text-align: center;
    font-family: 'Poppins';
    font-size: 30px;
}

.formular-container .überschrift{
    display:block;
}

.formular-input input{
    display: block;
    padding: 20px;
    margin: 20px;

}


.formular-input select{
    
    margin-left: 20px;
    margin-bottom: 10px;
    width: 100%;
    padding:  12px;
    font-family: 'Poppins';
    border-radius: 8px;
}

.formular-input{
    text-align: left;
    font-size: 20px;
}



.formular-input .submit-button{
    padding: 20px;
    font-size: 20px;
    background-color: #2CCE2E;
    color: white;
    border: solid;
}



.submit-button:hover{
    background-color: white;
    color: #2CCE2E;
    border: solid;
    border-color: #2CCE2E;
}


.name{
    margin-top: 50px;
}


.list{
    list-style: none;
}

.list li{
    display: inline-block;
    font-size: 30px;
    margin: 10px;
}

.fastfood-überschrift{
    font-size: 40px;
}

.fastfood-container{
    margin: auto;
    text-align: center;
    font-family: 'Poppins';
}

.item-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: auto;
  }

  .fastfood-item {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(214, 214, 214, 0.8);
    border-radius: 8px;
    font-size: 30px;
    text-align: center;
    margin: 20px;
    width: 200px;
    
  }

.fastfood-item a{
    text-decoration: none;
    color: black;
}

.fastfood-item a:hover{
    text-decoration: underline;
}

/* GerichtHinzufügen - Page */
.formular-container{
    text-align: center;
    font-family: 'Poppins';
    font-size: 30px;
    display: block;
    width: 40%;
    margin: 0 auto;
}

.formular-container .überschrift{
    display:block;
}

h2{
    font-size: 30px;
}

.add-recept{
    width: 175px;
}

.formular-input{
    text-align: left;
    font-size: 20px;
}

.formular-input input{
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}

.formular-input label{
    margin-left: 20px;
}

.formular-input .submit-button{
    padding: 20px;
    font-size: 20px;
    background-color: #2CCE2E;
    color: white;
    border: solid;
}

.submit-button:hover{
    background-color: white;
    color: #2CCE2E;
    border: solid;
    border-color: #2CCE2E;
    cursor: pointer;
}

.zutatenblock{
    border: solid;
    margin-left: 20px;
    width: 100%;
    display: block;
    
}

.zutatenblock .Zutaten{
    width: 50%;
    margin-left: 0;
}

.zutatenblock .Menge{
    width: 12%;
    margin-left: 0;
}

.zutatenblock .einheiten{
    width: 13%;
    height: 58px;
    margin-left: 0;
    margin-top: 10px;

}

.zutatenblock .ZutatenButton{
    width: 10%;
    height: 58px;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #2CCE2E;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-color: #2CCE2E;
}

.zutatenblock .ZutatenButton:hover{
    background-color: white;
    color: #2CCE2E;
    cursor: pointer;
}

.MinusButton{
    width: 10%;
    height: 58px;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-color: red;
}

.MinusButton:hover{
    background-color: white;
    color: red;
    cursor: pointer;
}




.zubereitung{
    height: 300px;
}



/* FastFood - Page */
.food-burger-img{
    width: 175px;
}


/* Barbecue Burger */
.barbecue-container{
    display: grid;
    grid-template-columns: auto auto ;
    width:100%;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    align-items: center;
}

.burger-header{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.burger-img{
    width: 65px;
    float: left;
}

.burger-header h4{
        float: left;
        line-height: 65px;
        font-family: 'Poppins';
        margin-left: 30px;
        font-size: 30px;
}


.slider-burger{
    width: 100%;
    height: auto;
}

.slider-burger p{
    font-family: 'Poppins';
    font-size: 25px;
}

.burger-thumb{
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.push{
    width: 15rem;

}


.left-recept{
    order: 1;
    font-family: 'Poppins';
    line-height: 45px;
    background-color: #F2F2F2;
    border-radius: 8px;
    padding: 10px 10px;
    height: 30.2rem;
    overflow: auto;
    margin-left: 100px;
    
}

.left-recept h5{
    font-size: 30px;
    font-family: 'Lobster';
    color: #2CCE2E;
}

.Zubereitung {
    order: 2;
    margin-top: 50px;
    width: 600px;
    font-family: 'Poppins';
}

.Zubereitung h5{
    font-size: 30px;
    font-family: 'Lobster';
    color: #2CCE2E;
}

/* Impressum - Page */
.Impressum {
    border-top: solid;
    padding: 12px 0px;
    margin-top: 10px;
}

.impressum-container{
    display: block;
    margin: 0 auto;
    width: 50%;
    font-family: 'Poppins';
}

/* Datenschutz - Page */
.datenschutz-container{
    display: block;
    margin: 0 auto;
    width: 50%;
    font-family: 'Poppins';
}

/* Kontakt - Page */
.Überuns-container{
    display: block;
    margin: 0 auto;
}